/* Colors */
:root{
    --background-color:#faf7f2;
    --main-text-color:#3e2723;
    --text-color:#573833;
    --cta-color:#d84315;
    --focus-color:#c9a227;
    --shopping-cart-items-bg:#f7e7cb;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
}
body{
    background-color: var(--background-color);

}

/*navbar styling*/

.navBar{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: whitesmoke;
    top: 0;
    left: 0;
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0);
    backdrop-filter: blur(4px);
}
.navBar img{
    width: 30px;
    height: auto;
    cursor: pointer;
}
.navlinks{
    width: 80%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.navlinks a{
    text-decoration: none;
    color: var(--text-color);
    transition: all .3s ease-in-out;
}
.navlinks a:hover{
    color: #5738339a;
}

.burger{
    width: 25px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.line{
    width: 100%;
    height: 3px;
    background-color: var(--text-color);
    border-radius: 20px;
}
.shoppingCart{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: all .3s ease-in-out;
}
.shoppingCart:hover{
    background-color: #c9a227;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.5);
}
.shoppingCart:hover i{
    color: white;
}
.shoppingCart:active .shoppingList{
    display: flex;
}
.shoppingList{
    position: absolute;
    top: 45px;
    right: 0;
    background-color: #573833;
    padding: .5rem;
    width: 200px;
    background-color: var(--shopping-cart-items-bg);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    border-radius: 5px;
}
.shoppingLabel{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    position: relative;
}
.shoppingLabel::after{
    position: absolute;
    bottom: -2px;
    left: -20%;
    width: 140%;
    height: 1px;
    content: "";
    background-color: var(--text-color);
}
.shoppingCart i{
    font-size: 14px;
}